.navbar{
	background-color: #222222;
	font-family: 'PT Sans Narrow' , Arial, sans-serif;
	font-weight: 700;
}

.navbar a{
	color: white;
	opacity: 0.9;
}

.navbar a:hover{
	opacity: 1;
	background-color: #111111;
}